.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    background-color: #1a1a2e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .avatar {
        width: 40px;
        height: 40px;
        font-size: 15px;

    }
}