<nav class="bg-gradient-to-br from-gray-800 via-gray-700 to-gray-900 shadow-md p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold text-white cursor-pointer" [routerLink]="['/']">Employee Manager</h1>

    <!-- Desktop Links -->
    <div class="hidden md:flex space-x-4">
        <a [routerLink]="['/']" class="text-white hover:underline transition-transform duration-300 ease-in-out 
        hover:-translate-y-1 ">Home</a>
        <a [routerLink]="['/add']" class="text-white hover:underline transition-transform duration-300 ease-in-out 
        hover:-translate-y-1 ">Add Employee</a>
    </div>

    <!-- Mobile Menu Toggle Button -->
    <div class="md:hidden">
        <!-- <button (click)="toggleMenu()" class="text-white focus:outline-none">
        ☰
      </button> -->
        <button class="text-white focus:outline-none" (click)="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </button>
    </div>
</nav>

<!-- Mobile Menu (Slide-in) -->
@if(menuOpen){
<div class="md:hidden fixed inset-0 bg-gray-800 bg-opacity-50 z-50" (click)="closeMenu()">
    <div class="bg-gradient-to-br from-gray-800 via-gray-700 to-gray-900 p-4 flex flex-col items-center w-3/4 sm:w-1/2 absolute right-0 top-[50px] h-auto"
        (click)="$event.stopPropagation()">
        <a [routerLink]="['/']" class="text-white py-2 hover:underline" (click)="closeMenu()">Home</a>
        <a [routerLink]="['/add']" class="text-white py-2 hover:underline" (click)="closeMenu()">Add Employee</a>
        <a [routerLink]="['/auth/login']" class="text-white py-2 hover:underline" (click)="closeMenu()">Log out</a>
    </div>
</div>
}